{{template "header"}}
<body>
<div class="container">
<span>
<h3>{{.Title}} by {{.Author}}</h3>
</span>
    <p class="text-justify">
        {{.TheAuthor}}
    </p>
</div>
<p class="link"><a href="/books" class="btn btn-default">Back</a></p>
</body>
{{template "footer"}}